@charset "UTF-8";

div#radio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url("../imagens/radio-tv.png") no-repeat;
}

audio#musica {
	display: block;
	position: relative;
	left: 575px; 
	top: 490px;
}

video#filme {
	display: block;
	position: relative;
	width: 450px;
	height: 350px;
	left: 80px;
}